
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}
nav{
    background: white;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color:grey;
    font-size: 25px;
    line-height: 87px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
    
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color:grey;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
.orange-color{
    color: #FB8B47;
}
.top-section{
 height: 600px;
 margin-bottom: 10%;
 margin-top: 2%;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding: 2%;
}
.half-width img {
    width: 100%;
}
.half-width h1{
    font-size: 52px;
    color: grey;
    font-weight: 700;
}
.anchor-tag{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 15px 40px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
 
}
.half-width p{
    margin-bottom: 6%;
}
.mid-section{
    height: 600px;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    margin-bottom: 5%;
}
.about-me{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding: 2%;
}
.about-me img{
    width: 67%;
    
}
.about-me h1{
    font-size: 35px;
    color: grey;
    font-weight: 700;
}
.about-me p{
    margin-bottom: 6%;
}
.shadow-part{
    height: 600px;
    margin-bottom: 15%;
}
.my-recipies{
    box-shadow: 5px 7px 40px grey;
    height: 90%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    width: 25%;
    border-radius: 15px;

}
.my-recipies img{
    width: 90%;
    border: 5px white solid;
    border-radius: 20px;
    margin-top: 5%;
   
}
.my-recipies h3{
    font-size: 30px;
}
.Recipies{
    text-align: center;
    margin-bottom: 5%;
}

.Recipies h2{
    font-size: 40px;
    color: grey;
}
.countdown{
    box-shadow: 5px 7px 70px grey;
    height: 200px;
    margin: 5%;
    border-radius: 20px;
    margin-bottom: 5%;

}
.countdown-text{
    float: left;
    margin:3%;
    width: 25%; 

}
.countdown-text h1{
    font-size: 35px;
    color: black;
    font-weight: 700;
}
.footer-area{
    background-color:black;
    width: 100%;
    height: 250px;
    
}
.footer-area h1 {
    text-align: center;
    color: white;
    padding-top: 5%;
}
.footer-area p{
    text-align: center;
    color: white;
}
.Choose-Us-section{
    height: 350px;
    border: 2px  tomato solid;
    border-radius: 20px;
   
}
.Choose-Us{
    
    font-size: 35px;
    color: grey;
}
.Choose-Us h3{
    text-align: center;
    font-size: 35px;   
}
.Choose-Us p {
    color: grey;
}
.choose-us-text{
    height: 55%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
    width: 20%;
    border-radius: 15px;
    border: 1px grey solid;
}
.Contact-us{
    height: 600px;
    margin: 5%;
}
.Contact-us-text{
    margin: 3%;
    
}
.con-us-h1{
    color: tomato;
    font-size: 35px;
    text-align: center;
    margin: 1%;
}
.Contact-us-half{
    float: left;
    width: 35%;
    margin: 2%;
    padding: 1%;
}
.Contact-us-form{
    border: none;
    font-size: 16px;
    height: 430px;
    background: transparent;
    border: 1px solid tomato;
    border-radius: 0;
    color: grey;
    width: 50%;
    padding-left: 3%;
    padding-top: 3%;
}
#fname{
    border: none;
    font-size: 16px;
    height: 45px;
    background: transparent;
    border: 1px solid grey;
    border-radius:5px ;
    width: 400px;
    
}
#lname{
    border: none;
    font-size: 16px;
    height: 45px;
    background: transparent;
    border: 1px solid grey;
    border-radius:5px ;
    width: 400px;
    
}
#email{
    border: none;
    font-size: 16px;
    height: 45px;
    background: transparent;
    border: 1px solid grey;
    border-radius:5px ;
    width: 400px;
    
}
#massage{
    border: none;
    font-size: 16px;
    height: 100px;
    background: transparent;
    border: 1px solid grey;
    border-radius:5px ;
    width: 400px;
    
}
.btn{
    text-decoration: none;
    background: linear-gradient(30deg, lightsalmon, tomato);
    padding: 15px 40px;
    border-radius: 10px;
    border-color:white;
    color: white;
    font-weight: 700;
}