body{
    font-family: 'Montserrat', sans-serif;
}
.orange-color{
    color: #FB8B47;
}
.top-section{
 height: 600px;
 margin-bottom: 5%;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding: 2%;
}
.half-width img {
    width: 100%;
}
h1{
    font-size: 52px;
    color: grey;
    font-weight: 700;
}
.anchor-tag{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 15px 40px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
 
}
.half-width p{
    margin-bottom: 6%;
}
.mid-section{
    height: 600px;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    margin-bottom: 5%;
}
.about-me{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding: 2%;
}
.about-me img{
    width: 60%;
    
}
.about-me p{
    margin-bottom: 6%;
}